body {
  margin: 0;
  margin-top: 10%;
  background-color: #f8f5ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
